.key-value-label {
	display: flex;
	border: 1px solid var(--l2-border);
	border-radius: 2px;

	&--row {
		align-items: center;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&--column {
		flex-direction: column;
		border: none;
		border-radius: 0;
		gap: 4px;
		padding: 8px 16px;

		.key-value-label__key {
			background: transparent;
			border-radius: 0;
			padding: 0;
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			letter-spacing: 0.48px;
			line-height: 20px;
		}

		.key-value-label__value {
			background: transparent;
			padding: 0;
			font-size: 14px;
			line-height: 20px;
		}
	}

	&__key,
	&__value {
		padding: 6px;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -0.005em;
		&,
		&:hover {
			color: var(--l1-foreground);
		}
	}

	&__key {
		background: var(--l1-background);
		border-radius: 2px 0 0 2px;
	}

	&__value {
		background: var(--l3-background);

		&--clickable {
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
